@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  position:relative;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:
    linear-gradient(rgba(60,0,20,0.6),rgba(60,0,20,0.6)),
    url("../assets/images/background.jpg");
  background-size:cover;
  background-position:center;
  font-family:'Dancing Script',cursive;
  color:#f8e1e7;
  text-align:center;
  overflow:hidden;
}

.container{
  position:relative;
  z-index:2;
}

#text.intro{
  font-size:60px;
  letter-spacing:2px;
}

#text { font-size: 35px; line-height: 1.6; max-width: 2000px; transition: opacity 0.8s ease; padding: 0 20px; margin: auto; }

#buttons{
  margin-top:30px;
}

button{
  padding:14px 35px;
  font-size:16px;
  border-radius:40px;
  border:none;
  cursor:pointer;
  margin:10px;
}

#yesBtn{
  background:#b3002d;
  color:white;
}

#noBtn{
  background:#2a000d;
  color:#f8e1e7;
}

.hidden{
  display:none;
}

.gif{
  margin-top:20px;
  max-width:300px;
  opacity:0;
  transition:opacity .8s ease;
}

/* MOBILE */
@media (max-width:768px){

  #text{
    font-size:20px;
    line-height: 1.6; word-wrap: break-word; /* ngắt dòng nếu quá dài */ overflow-wrap: break-word; max-width: 100%;
  }

  #text.intro{
    font-size:22px;
  }

  .gif{
    max-width:85%;
  }

}
